body{
  color:gray
}
.navbar{
  padding: 1rem;
  background-color: pink;
}
.btn{
  color: pink
}

.hero-background-img {
  background-image: url("/Users/cherishspikes/Desktop/code/bootstrap/pramod-tiwari-AI-fDmJwNfc-unsplash.jpg");
  background-repear: no-repeat;
  background-size: cover;
  background-position: center;
}
.img{
  mar
}
